.admin-app .login{
	position:relative;
	top:200px;
	width:440px;
	height:370px;
	background:white ;
	margin:0 auto;
	font-size:14px;
	border:1px solid;
	text-align:center;
}
.login h1{
	padding-top:42px;
	font-size:27px;
	font-weight:400;
}
.login form{
	margin-top:40px;
	font-size:10px;
}
.ip{
	margin-left:20px;
	height:30px;
	width:180px;
}
.ip2{
	margin-left:20px;
	height:30px;
	width:50px;
}
.ipp{
  margin-left:30px;
  height:30px;
 width:180px;
}
.pp{
	margin-top:10px;
}
.aa{

margin-left:-130px;

}
.deng{
	width:90px;
	height:40px;
	background:#009688 ;
}
input{
  outline:none;
}
