.calc{
  margin-left:50px;
}
#aa{
    color:red;

}

#bb{
    color:red;

  }
input:invalid+span:after {
  content: '✖';
  color: red;
}

input:valid+span:after {
  content: '✓';
  color: green;
}
